<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <title>All the things</title>
  </head>
  <body >
    
<!-- Navbar -->
      <div class="fixed w-full">
       <%- include('./partials/navbar') %> 
      </div>
        
     
    <!-- todo: Put a nice welcome to the user name -->

    <main class="container">
      <div class="bg-guitar bg-cover bg-no-repeat w-screen h-screen blur-[5px] -z-10 absolute"></div>
      <div class="pt-32 w-full h-full flex flex-col justify-between">
        <div class="ml-20">
          <h1 class="text-4xl text-white font-long  italic">Your Dashboard</h1>
      <ul class="text-white text-2xl mt-3 pt-5 border-t-4 border-white">
        <!-- Display User Wishlist Button -->
        <li><a href="/dashboard/privateWishlist">My Wishlist</a></li>
        <!-- Display Public Wishlist Button -->
        <li><a href="/dashboard/publicWishlist">Public Wishlists</a></li>
        <!-- Display Add Gear Button -->
        <li><a href="/gear">Add Gear</a></li>
        <!-- Logout Button -->
      </ul>
        </div>
       

      <!-- Footer -->
      <div class="self-end bg-inherit relative mt-4 text-sm blur-[.02em] cursor-default">
        <%- include('./partials/footer') %>
      </div>
      
      </div>
    
    </main> 
      
    
      
    <script src="/js/main.js"></script>
  </body>
</html>
